/* Styles for the Advanced Markup assignment. */

nav ul li {
  display: inline;
  border: solid 1px black;
}
a.active{
  font-weight: bold;
}
#sidebar{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 250px;
  border: solid 5px black;
}
.poem{
  list-style-type: none;
}
.bio-photo{
  width: 250px;
  float: left;
  margin: 10px 20px 10px 10px;
  line-height: 20px;
}
#content p{
  width: 900px;
  
}
html{
  background:lightblue;
}
h1,h2,h3,h4,h5,h6{
  font-family: monospace;
}
footer{
  background:lightyellow;
  border: solid 1px;
}


